*{
    margin: 0;
    padding: 0;
    font-family: 'proxima-nova', sans-serif;
    box-sizing: border-box;
}

html, body{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
}

.container {
    min-width: 400px;
    position: relative;
    padding: 0.6rem 0.9rem;
    width: 34%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    margin-bottom: 0.7rem;
    padding-left: 0.5rem;
}
.todo span {
    font-size: larger;
}
.todo img {
    height: 45%;
    object-fit: cover;
    max-width: 10%;
}

.taskbar {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: rgba(165, 161, 161, 0.824);
    border-radius: 30px;
}

.task {
    padding-left: 1.6rem;
    font-weight: 200;
    font-size: 1rem;
    /* dont forget to take overflow */
    overflow: hidden;
}

.add {
    border: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%; 
    height:100%; 
    background-color: #FF653B;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    text-align: center; 
    padding: 0; 
    overflow: hidden; 
}


input {
    width: 78%;
    padding-left: 1.5rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.list {
    margin: 0.5em 0;
    width: 100%;
    padding: 0rem 0.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style-type: none;
}

ul li {
    padding: 0 0.5em;
    word-wrap: break-word;
    cursor: pointer;
    user-select: none;
}

ul li::before {
    content: "";
    display: inline-block;
    width: 14px;              
    height: 14px;            
    border: 1.5px solid gray;  
    border-radius: 50%;       
    margin-right: 10px;
    vertical-align: middle;  
    background-color: white;  
}

.cut {
    margin-left: 0.4rem;
    margin-right: 1rem;
    padding: 0;
    width: fit-content;
    overflow: hidden;
    position: absolute;
    left: 90%;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.cut:hover {
    background-color: rgb(182, 178, 178);
}

.strike {
    text-decoration: line-through;

}
.strike::before {
    background-image: url(./check-line.png);
    background-position: center;
    background-size: cover;
    background-color: #FF653B;
}





